@import 'variables';
@import 'functions';

@mixin rounded-borders($amount, $sides: null) {
  @if $sides {
    @each $side in $sides {
      border-#{$side}-radius: $amount;
    }
  } @else {
    border-radius: $amount;
  }
}

@mixin linear-gradient($angle, $color-stops...) {
  $angle-prefixed: (90 - $angle) % 360;

  background: -webkit-linear-gradient($angle-prefixed, $color-stops);
  background:    -moz-linear-gradient($angle-prefixed, $color-stops);
  background:      -o-linear-gradient($angle-prefixed, $color-stops);
  background:         linear-gradient($angle, $color-stops);
}

@mixin circular-gradient($color) {
  $edge-color: darken($color, 10%);
  $middle-color: lighten($color, 10%);

  background: $color;
  @include linear-gradient(90deg,
                           $edge-color 0%,
                           $color 10%,
                           $middle-color 50%,
                           $color 90%,
                           $edge-color 100%);
}

@mixin position-keyframes($source, $target) {
  @keyframes position-#{$source}-to-#{$target} {
    0% {
      bottom: calculate-start-position($source, $target);
    }
    40% {
      bottom: calculate-vertical-offset($target);
    }
    90% {
      bottom: calculate-vertical-offset($target);
    }
    100% {
      bottom: 0;
    }
  }
}

@mixin direction-keyframes($source, $target) {
  @keyframes #{$source}-to-#{$target} {
    0% {
      right: calculate-horizontal-offset($source, $target);
    }
    40% {
      right: calculate-horizontal-offset($source, $target);
    }
    90% {
      right: 0;
    }
    100% {
      right: 0;
    }
  }
}

@mixin animation-class($s-stack, $t-stack, $s-disk, $t-disk) {
  .#{$s-stack}-#{$t-stack}-#{$s-disk}-#{$t-disk} {
    animation-name: #{$s-stack}-to-#{$t-stack},
                    position-#{$s-disk}-to-#{$t-disk};
  }
}
