$main-width: 960px;

$disk-border-radius: 4px;
$disk-height: 25px;
$disk-min-width: $disk-height * 2;
$disk-width-factor: 20;
$max-disks: 10;
$disk-colors: (
  #d80404, // disk 1 - red
  #7fd11b, // disk 2 - green
  #1c6aef, // disk 3 - blue
  #fffa00, // disk 4 - yellow
  #dd06b2, // disk 5 - pink
  #00f2ff, // disk 6 - cyan
  #bf570d, // disk 7 - brown
  #a808d1, // disk 8 - purple
  #849610, // disk 9 - olive
  #ffaa00  // disk 10 - orange
);

$peg-border-radius: 10px;
$peg-color: #ff8b1c;
$peg-height: $disk-height * $max-disks + $disk-height * 2;
$peg-width: $disk-min-width - $disk-width-factor;

$peg-base-border-radius: 7px;
$peg-base-color: darken($peg-color, 10%);
$peg-base-height: $disk-height;
$peg-base-width: $disk-min-width + $disk-width-factor * $max-disks;

$tower-height: $disk-height * $max-disks;
$tower-width: $main-width / 3;

$animation-speeds: (
  very-fast,
  fast,
  medium,
  slow,
  very-slow
);

$animation-speed-interval: .3s;
