@import '../../shared/shared-variables.json';

$wood: (
  #e9dfc4,
  #ede3c8,
  #ebddc3,
  #e6d8bd
);

$white: #fff;
$blue: #2a88ed;
$green: #27af08;
$gray: #1f3554;

$text-primary-color: $gray;
$link-color: lighten($text-primary-color, 15%);

$control-default-color: $blue;
$control-border-radius: 3px;
$control-border-width: 2px;
$control-height: 35px;
$control-margin: 5px;
$control-padding: 10px;
$control-hover-color: $white;

$btn-primary-color: $green;
$btn-primary-hover-bg: lighten($btn-primary-color, 30%);
$btn-primary-hover-color: darken($btn-primary-color, 15%);

$main-width: 960px;

$max-disks: 10;

$disk-border-radius: 4px;
$disk-height: 25px;
$disk-min-width: $disk-height * 2.25;
$disk-width-factor: 20;

$disk-colors: (
  #d80404, // disk 1 - red
  #7fd11b, // disk 2 - green
  #1c6aef, // disk 3 - blue
  #fffa00, // disk 4 - yellow
  #dd06b2, // disk 5 - pink
  #00f2ff, // disk 6 - cyan
  #bf570d, // disk 7 - brown
  #a808d1, // disk 8 - purple
  #849610, // disk 9 - olive
  #ffaa00  // disk 10 - orange
);

$peg-border-radius: 10px;
$peg-color: #e5a309;
$peg-height: $disk-height * ($max-disks + 1);
$peg-width: $disk-min-width / 2;

$peg-base-border-radius: 7px;
$peg-base-color: darken($peg-color, 10%);
$peg-base-height: $peg-width * 1.25;
$peg-base-width: $disk-min-width + $disk-width-factor * $max-disks;

$tower-height: $disk-height * $max-disks;
$tower-width: $main-width / 3;

$animation-speed-interval: $min-delay * 0.001s;
