@import '../assets/scss/variables';

a {
  border-bottom: $link-underline;
  color: $link-color;
  text-decoration: none;
  transition: all .2s ease-in-out;

  &:hover {
    color: $link-hover-color;
    text-shadow: $link-shadow;
  }
}

header,
footer {
  text-align: center;
}

footer {
  i {
    display: block;
    font-size: $icon-size;
  }
}
