<div class="peg peg--left"></div>
<div class="peg peg--middle"></div>
<div class="peg peg--right"></div>

<ng-container *ngFor="let stack of stacks; let i = index">
  <ul *ngIf="stack.length > 0" class="stack stack--{{stackNames[i]}}">
    <li *ngFor="let disk of stack" class="disk disk--{{disk}}"></li>
  </ul>
</ng-container>

<select [(ngModel)]="height"
  (change)="reset()"
  class="input input--dropdown">
  <option *range="[5, 10]; let n"
    value="{{n}}"
    selected="n == height">{{n}}
  </option>
</select>
<button (click)="solve()"
  type="button"
  class="button button--primary">Solve
</button>
