<div class="peg peg--left"></div>
<div class="peg peg--middle"></div>
<div class="peg peg--right"></div>

<ng-container *ngFor="let stack of stacks; let i = index">
  <ul *ngIf="stack.length > 0" class="stack stack--{{stackNames[i]}}">
    <li *ngFor="let disk of stack"
      class="disk disk--{{disk}} animation-speed-{{delay}}">
    </li>
  </ul>
</ng-container>

<label for="height">Height:</label>
<select [(ngModel)]="height"
  (change)="reset()"
  class="input input--dropdown"
  id="height">
  <option *range="[5, 10]; let n"
    value="{{n}}"
    selected="n == height">
    {{n}}
  </option>
</select>

<label for="speed">Speed:</label>
<select [(ngModel)]="delay"
  class="input input--dropdown"
  id="speed">
  <option *ngFor="let speed of speeds; let i = index"
    value="{{(i + 1) * minDelay}}"
    selected="(i + 1) * minDelay == delay">
    {{speed}}
  </option>
</select>

<button (click)="solve()"
  class="button button--primary"
  [disabled]="solving || solved">
  Solve
</button>

<button (click)="reset()"
  class="button button--secondary">
  Reset
</button>
