@import '../../assets/scss/variables';
@import '../../assets/scss/functions';
@import '../../assets/scss/mixins';
@import '../../assets/scss/animations';

.options {
  text-align: center;
  margin: 0 auto;
}

.control {
  background: #fff;
  border-radius: $control-border-radius;
  border-width: $control-border-width;
  border-style: solid;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  height: $control-height;
  margin: $control-margin;
  outline: none;
  padding-left: $control-padding;
  padding-right: $control-padding;
  transition: all .3s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    opacity: 0.5;
  }
}

.control[disabled] {
  cursor: not-allowed;
}

.button--primary {
  background: #27af08;
  border-color: $btn-primary-color;
  color: $white;

  &:hover,
  &:active {
    &:not([disabled]) {
      background: $btn-primary-hover-bg;
      border-color: $btn-primary-hover-color;
      color: $btn-primary-hover-color;
    }
  }
}

.button--default,
.dropdown {
  border-color: $control-default-color;
  color: $control-default-color;

  &:hover,
  &:active {
    &:not([disabled]) {
      background: $control-default-color;
      color: $control-hover-color;
    }
  }

  & option {
    background: $control-hover-color;
    color: #000;
  }
}

.puzzle {
  height: $peg-height;
  margin-top: 50px;
}

.tower {
  bottom: 0;
  display: inline-block;
  height: $peg-height;
  position: relative;
  width: $tower-width;
}

.peg {
  @include rounded-borders($peg-border-radius, (top-left, top-right));

  background: $peg-color;
  bottom: 0;
  display: inline-block;
  left: 0;
  margin: 0 auto;
  right:0;
  top: 0;
  position: absolute;
  width: $peg-width;
}

.peg-base {
  @include rounded-borders($peg-base-border-radius);

  background: $peg-base-color;
  bottom: 0;
  display: inline-block;
  height: $peg-base-height;
  left: 0;
  position: absolute;
  right:0;
}

.stack {
  bottom: $peg-base-height;
  display: inline-block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.disk-group {
  bottom: 0;
  left: 0;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  right: 0;
}

.disk {
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  border-radius: $disk-border-radius;
  height: $disk-height;
  margin: 0 auto;
  position: relative;
}

@for $i from 1 through 10 {
  .disk--#{$i} {
    background: nth($disk-colors, $i);
    width: calculate-disk-width($i);
  }
}
