@import '../../assets/scss/variables';

// .peg {
//   background: $peg-color;
//   display: inline-block;
//   height: $peg-height;
//   margin: $peg-width;
//   width: $peg-width;
// }

.stack {
  bottom: 0;
  display: inline-block;
  left: 0;
  list-style-type: none;
  position: absolute;
  transition: left 0.3s;
}

// @keyframes left-to-right {
//   from {
//     left: 0;
//   }
//
//   to {
//     left: 200px;
//   }
// }

.stack--middle {
  left: 300px;
}

.stack--right {
  left: 600px;

  // animation-name: left-to-right;
  // animation-duration: 0.3s;
  // animation-fill-mode: forwards;
}

.disk {
  border-radius: $disk-border-radius;
  height: $disk-height;
  margin: 0 auto;
  position: relative;
}

@for $i from 1 through 10 {
  .disk--#{$i} {
    background: nth($disk-colors, $i);
    width: $disk-min-width + ($disk-width-factor * ($i - 1));
  }
}
