@import 'assets/scss/variables';

body {
  /* Background from https://www.transparenttextures.com/wood-pattern.html */
  background: url('./assets/images/wood-pattern-1920x1080.png');
  background-repeat: repeat;
  color: $text-primary-color;
  font-family: 'Encode Sans', sans-serif;
  margin: 0;
}

main {
  margin: 0 auto;
  position: relative;
  width: $main-width;
}
